.slider {
  position: relative;

  strong {
    font-weight: 500;
  }

  &__track {
    height: 100%;
  }

  &__slide1 {
    padding-top: 91px;
    background-image: url('./img/clouds/heroImage1.png');
  }

  &__slide2 {
    padding-top: 91px;
    background-image: url('./img/clouds/heroImage2.png');
  }

  &__slide3 {
    padding-top: 91px;
    background-image: url('./img/clouds/heroImage3.png');
  }
}

@import './__title/slider__title.scss';
@import './__subtitle/slider__subtitle.scss';
@import './__text/slider__tyext.scss';
@import './__button/slider__button.scss';
@import './__play/slider__play.scss';
@import './__clouds/slider__clouds.scss';