&__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #8D96BD;
  max-width: 502px;
  margin: 0 auto;
  margin-bottom: 20px;
}