&__documentation {
  padding: 13px 9px;
  border: 1px solid #A0B4FF;
  box-sizing: border-box;
  border-radius:  0 2px 2px 0;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #C7D3FF;
}