&__slider {
  .slick-list {
    height: 100%;
    padding-bottom: 78px;
  }
  // .slick-dots {

  // }
  .slick-active:not(.slick-current) {
    .quotes__slideContainer{
      opacity: 0.45;
    }
    
  }
  .slick-list {
    transition: all .5s ease;
  }
  .slick-dots {
    position: absolute;
    bottom: 0;
    left: calc(25%);
    li:not(:last-child) {
      margin-right: 12px;
    }
  }
  margin: 0 -32px;
  max-width: 974px;
}