&__slideSecondButton {
  width: 211px;
  height: 43px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #A6B6DA;
}