&__button {
  display: flex;
  padding: 13px 14px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #7382A3;
  background: #E8ECF4;
  border-radius: 2px;
}