doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/reset.css")
    link(rel="stylesheet", href="./css/fonts.css")
    link(rel="stylesheet", href="./css/slick.css")
    link(rel="stylesheet", href="main.css")
    title Home
  body
    .wrapper
      header.header.wrapper__header
        img.header__logo(src="./img/logo.svg", alt="logo")
        ul.header__menu.menu
          li.menu__item--active.menu__item
            a(href="index.html") Home
          li.menu__item
            a(href="blog.html") Blog
          li.menu__item Features
          li.menu__item Pricing
          li.menu__item Documentation
        ul.header__social.social
          li.social__item
            a(href="")
              img(src="./img/social/f.svg", alt="")
          li.social__item
            a(href="")
              img(src="./img/social/twitter.svg", alt="")
          li.social__item
            a(href="")
              img(src="./img/social/Vector.svg", alt="")
          li.social__item
            a(href="")
              img(src="./img/social/M.svg", alt="")
        button.header__getStarted.getStarted Get Started
      .line.wrapper__line
      .slider.wrapper__slider
        .slider__track
          div.slider__slide1
            h2.slider__title PLAN YOUR LIFE
            h3.slider__subtitle Increase your #[strong productivity]
            p.slider__text Brute laoreet efficiendi id his, ea illum nonumes luptatum pro. Usu atqui laudem an, insolens gubergren similique est cu. Et vel modus congue vituperata.
            button.slider__button
              img.slider__play(src="./img/SliderPlay.svg", alt="")
          div.slider__slide2
            h2.slider__title PLAN YOUR LIFE
            h3.slider__subtitle Increase your productivity
            p.slider__text Brute laoreet efficiendi id his, ea illum nonumes luptatum pro. Usu atqui laudem an, insolens gubergren similique est cu. Et vel modus congue vituperata.
            button.slider__button
              img.slider__play(src="./img/SliderPlay.svg", alt="")
          div.slider__slide3
            h2.slider__title PLAN YOUR LIFE
            h3.slider__subtitle Increase your productivity
            p.slider__text Brute laoreet efficiendi id his, ea illum nonumes luptatum pro. Usu atqui laudem an, insolens gubergren similique est cu. Et vel modus congue vituperata.
            button.slider__button
              img.slider__play(src="./img/SliderPlay.svg", alt="")
      .line.wrapper__line
      ul.customers.wrapper__customers
        li.customers__item
          img(src="./img/customers/bitbucket.svg", alt="")
        li.customers__item
          img(src="./img/customers/Watch.svg", alt="")
        li.customers__item
          img(src="./img/customers/Facebook.svg", alt="")
        li.customers__item
          img(src="./img/customers/Atlassian.svg", alt="")
        li.customers__item
          img(src="./img/customers/Audi.svg", alt="")
      .line.wrapper__line
      .planAndManage
        .planAndManage__discription
          h2.planAndManage__title DESKTOP AND MOBILE APP
          h3.planAndManage__subtitle #[strong Plan] and #[strong manage]
          p.planAndManage__text Brute laoreet efficiendi id his, ea illum nonumes luptatum pro. Usu atqui laudem an, insolens gubergren similique est cu. Et vel modus congue vituperata. Solum patrioque no sea. Mea ex malis mollis oporteat. Eum an expetenda consequat.
          .planAndManage__buttons
            button.planAndManage__viewVideoButton
              p View video
              img(src="./img/View video Start.svg", alt="")
            button.planAndManage__seeFeaturesButton
              p See features
        img.planAndManage__mobileDesktop(src="./img/PlanAndManage.png", alt="")
      .line.wrapper__line
      .aboutUs.wrapper__aboutUs
        .aboutUs__content
          .aboutUs__title ABOUT US
          .aboutUs__subtitle Read about our app
          .aboutUs__features
            .feature.aboutUs__feature
              img.feature__img(src="./img/features/Overview.png", alt="")
              .feature__title Overview
              .feature__text Brute laoreet efficiendi id his, ea illum nonumes luptatum pro.
            .aboutUs__line
            .feature.aboutUs__feature
              img.feature__img(src="./img/features/Files.png", alt="")
              .feature__title Files
              .feature__text No vim nulla vitae intellegat. Ei enim error ius, solet atomorum conceptam ex has.
            .aboutUs__line
            .feature.aboutUs__feature
              img.feature__img(src="./img/features/Meeting.png", alt="")
              .feature__title Meeting chats
              .feature__text Vim ne tacimates neglegentur. Erat diceret omittam at est.
            .aboutUs__line
            .feature.aboutUs__feature
              img.feature__img(src="./img/features/Save.png", alt="")
              .feature__title Save events
              .feature__text Nisl idque mel ea, nominati voluptatum.
          .aboutUs__buttons
            button.aboutUs__readMoreButton Read more
            .aboutUs__buttonsLine
            p.aboutUs__buttonsText OR
            .aboutUs__buttonsLine
            button.aboutUs__getStartedButton Get started
      .stats.wrapper__stats
        .stats__left
          img(src="./img/stats/Group.png", alt="")
          p.persent 89%
          p.text Customers who have increased their productivity
        .stats__right
          img(src="./img/stats/people.png", alt="")
          p.number 3123
          p.text Users who have used our application
      .blog.wrapper__blog
        .blog__content
          .blog__title OUR RESOURCES
          .blog__subtitle Start reading our blog
          .blog__slider
            .blog__slide1
              .blog__sliderContent
                .blog__slideFirstColomn
                  img(src="./img/blog/detail.png", alt="")
                .blog__slideSecondColomn 
                  .blog__slideFirstImage 
                  .blog__slideSecondImage
                .blog__slideThirdColomn
                  h2.blog__slideTitle How to start planning
                  p.blog__slideText Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti. Natum petentium principes mei ea. Tota everti periculis vis ei, quas tibique pro at, eos ut decore ...
                  .blog__slideButtons
                    button.blog__slideFirstButton Read now
                    button.blog__slideSecondButton Add to your bookmarks
            .blog__slide2
              .blog__sliderContent
                .blog__slideFirstColomn
                  img(src="./img/blog/detail.png", alt="")
                .blog__slideSecondColomn 
                  .blog__slideFirstImage 
                  .blog__slideSecondImage
                .blog__slideThirdColomn
                  h2.blog__slideTitle  How to start planning
                  p.blog__slideText Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti. Natum petentium principes mei ea. Tota everti periculis vis ei, quas tibique pro at, eos ut decore ...
                  .blog__slideButtons
                    button.blog__slideFirstButton Read now
                    button.blog__slideSecondButton Add to your bookmarks
            .blog__slide3
              .blog__sliderContent
                .blog__slideFirstColomn
                  img(src="./img/blog/detail.png", alt="")
                .blog__slideSecondColomn 
                  .blog__slideFirstImage 
                  .blog__slideSecondImage
                .blog__slideThirdColomn
                  h2.blog__slideTitle  How to start planning
                  p.blog__slideText Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti. Natum petentium principes mei ea. Tota everti periculis vis ei, quas tibique pro at, eos ut decore ...
                  .blog__slideButtons
                    button.blog__slideFirstButton Read now
                    button.blog__slideSecondButton Add to your bookmarks
      block9 
      block10 
      block11 
      block12 
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js") 
  script(src="./js/slick.min.js") 
  script(src="./js/index.js") 