doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/reset.css")
    link(rel="stylesheet", href="./css/fonts.css")
    link(rel="stylesheet", href="./css/slick.css")
    link(rel="stylesheet", href="main.css")
    title Home
  body
    .wrapper
      header.header.wrapper__header
        img.header__logo(src="./img/logo.svg", alt="logo")
        ul.header__menu.menu
          li.menu__item--active.menu__item
            a(href="index.html") Home
          li.menu__item
            a(href="blog.html") Blog
          li.menu__item Features
          li.menu__item Pricing
          li.menu__item Documentation
        ul.header__social.social
          li.social__item
            a(href="")
              img(src="./img/social/f.svg", alt="")
          li.social__item
            a(href="")
              img(src="./img/social/twitter.svg", alt="")
          li.social__item
            a(href="")
              img(src="./img/social/Vector.svg", alt="")
          li.social__item
            a(href="")
              img(src="./img/social/M.svg", alt="")
        button.header__getStarted.getStarted Get Started
      .line.wrapper__line
      .productivity.wrapper__productivity
        .productivity__slider
          div.productivity__slide1
            h2.productivity__title PLAN YOUR LIFE
            h3.productivity__subtitle Increase your #[strong productivity]
            p.productivity__text Brute laoreet efficiendi id his, ea illum nonumes luptatum pro. Usu atqui laudem an, insolens gubergren similique est cu. Et vel modus congue vituperata.
            button.productivity__button
              img.productivity__play(src="./img/productivityPlay.svg", alt="")
          div.productivity__slide2
            h2.productivity__title PLAN YOUR LIFE
            h3.productivity__subtitle Increase your productivity
            p.productivity__text Brute laoreet efficiendi id his, ea illum nonumes luptatum pro. Usu atqui laudem an, insolens gubergren similique est cu. Et vel modus congue vituperata.
            button.productivity__button
              img.productivity__play(src="./img/productivityPlay.svg", alt="")
          div.productivity__slide3
            h2.productivity__title PLAN YOUR LIFE
            h3.productivity__subtitle Increase your productivity
            p.productivity__text Brute laoreet efficiendi id his, ea illum nonumes luptatum pro. Usu atqui laudem an, insolens gubergren similique est cu. Et vel modus congue vituperata.
            button.productivity__button
              img.productivity__play(src="./img/productivityPlay.svg", alt="")
      .line.wrapper__line
      ul.customers.wrapper__customers
        li.customers__item
          img(src="./img/customers/bitbucket.svg", alt="")
        li.customers__item
          img(src="./img/customers/Watch.svg", alt="")
        li.customers__item
          img(src="./img/customers/Facebook.svg", alt="")
        li.customers__item
          img(src="./img/customers/Atlassian.svg", alt="")
        li.customers__item
          img(src="./img/customers/Audi.svg", alt="")
      .line.wrapper__line
      .planAndManage
        .planAndManage__discription
          h2.planAndManage__title DESKTOP AND MOBILE APP
          h3.planAndManage__subtitle #[strong Plan] and #[strong manage]
          p.planAndManage__text Brute laoreet efficiendi id his, ea illum nonumes luptatum pro. Usu atqui laudem an, insolens gubergren similique est cu. Et vel modus congue vituperata. Solum patrioque no sea. Mea ex malis mollis oporteat. Eum an expetenda consequat.
          .planAndManage__buttons
            button.planAndManage__viewVideoButton
              p View video
              img(src="./img/View video Start.svg", alt="")
            button.planAndManage__seeFeaturesButton
              p See features
        img.planAndManage__mobileDesktop(src="./img/PlanAndManage.png", alt="")
      .line.wrapper__line
      .aboutUs.wrapper__aboutUs
        .aboutUs__content
          .aboutUs__title ABOUT US
          .aboutUs__subtitle Read about our app
          .aboutUs__features
            .feature.aboutUs__feature
              img.feature__img(src="./img/features/Overview.png", alt="")
              .feature__title Overview
              .feature__text Brute laoreet efficiendi id his, ea illum nonumes luptatum pro.
            .aboutUs__line
            .feature.aboutUs__feature
              img.feature__img(src="./img/features/Files.png", alt="")
              .feature__title Files
              .feature__text No vim nulla vitae intellegat. Ei enim error ius, solet atomorum conceptam ex has.
            .aboutUs__line
            .feature.aboutUs__feature
              img.feature__img(src="./img/features/Meeting.png", alt="")
              .feature__title Meeting chats
              .feature__text Vim ne tacimates neglegentur. Erat diceret omittam at est.
            .aboutUs__line
            .feature.aboutUs__feature
              img.feature__img(src="./img/features/Save.png", alt="")
              .feature__title Save events
              .feature__text Nisl idque mel ea, nominati voluptatum.
          .aboutUs__buttons
            button.aboutUs__readMoreButton Read more
            .aboutUs__buttonsLine
            p.aboutUs__buttonsText OR
            .aboutUs__buttonsLine
            button.aboutUs__getStartedButton Get started
      .line.wrapper__line
      .stats.wrapper__stats
        .stats__left
          img(src="./img/stats/Group.png", alt="")
          p.persent 89%
          p.text Customers who have increased their productivity
        .stats__right
          img(src="./img/stats/people.png", alt="")
          p.number 3123
          p.text Users who have used our application
      .line.wrapper__line
      .blog.wrapper__blog
        .blog__content
          .blog__title OUR RESOURCES
          .blog__subtitle Start reading our blog
          .blog__slider
            .blog__slide1
              .blog__sliderContent
                .blog__slideFirstColomn
                  img(src="./img/blog/detail.png", alt="")
                .blog__slideSecondColomn 
                  .blog__slideFirstImage 
                  .blog__slideSecondImage
                .blog__slideThirdColomn
                  h2.blog__slideTitle How to start planning
                  p.blog__slideText Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti. Natum petentium principes mei ea. Tota everti periculis vis ei, quas tibique pro at, eos ut decore ...
                  .blog__slideButtons
                    button.blog__slideFirstButton Read now
                    button.blog__slideSecondButton Add to your bookmarks
            .blog__slide2
              .blog__sliderContent
                .blog__slideFirstColomn
                  img(src="./img/blog/detail.png", alt="")
                .blog__slideSecondColomn 
                  .blog__slideFirstImage 
                  .blog__slideSecondImage
                .blog__slideThirdColomn
                  h2.blog__slideTitle  How to start planning
                  p.blog__slideText Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti. Natum petentium principes mei ea. Tota everti periculis vis ei, quas tibique pro at, eos ut decore ...
                  .blog__slideButtons
                    button.blog__slideFirstButton Read now
                    button.blog__slideSecondButton Add to your bookmarks
            .blog__slide3
              .blog__sliderContent
                .blog__slideFirstColomn
                  img(src="./img/blog/detail.png", alt="")
                .blog__slideSecondColomn 
                  .blog__slideFirstImage 
                  .blog__slideSecondImage
                .blog__slideThirdColomn
                  h2.blog__slideTitle  How to start planning
                  p.blog__slideText Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti. Natum petentium principes mei ea. Tota everti periculis vis ei, quas tibique pro at, eos ut decore ...
                  .blog__slideButtons
                    button.blog__slideFirstButton Read now
                    button.blog__slideSecondButton Add to your bookmarks
      .line.wrapper__line
      section.wrapper__quotes.quotes 
        .quotes__container
          .quotes__description
            h2.quotes__title TESTIMONIALS
            h3.quotes__subtitle Customers's quotes
            .quotes__text Brute laoreet efficiendi id his, ea illum nonumes luptatum pro. Usu atqui laudem an.
          .quotes__slider
            .quotes__slide 
              .quotes__slideContainer
                .quotes__slideText Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti.
              .quotes__image
                img(src="./img/quotes/1.svg", alt="")
            .quotes__slide
              .quotes__slideContainer
                .quotes__slideText Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti.
                .quotes__image
                  img(src="./img/quotes/1.svg", alt="")
            .quotes__slide 
              .quotes__slideContainer
                .quotes__slideText Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti.
                .quotes__image
                  img(src="./img/quotes/1.svg", alt="")
            .quotes__slide 
              .quotes__slideContainer
                .quotes__slideText Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti.
                .quotes__image
                  img(src="./img/quotes/1.svg", alt="")
            .quotes__slide 
              .quotes__slideContainer
                .quotes__slideText Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti.
                .quotes__image
                  img(src="./img/quotes/1.svg", alt="")
            .quotes__slide 
              .quotes__slideContainer
                .quotes__slideText Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti.
                .quotes__image
                  img(src="./img/quotes/1.svg", alt="")
            .quotes__slide 
              .quotes__slideContainer
                .quotes__slideText Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti.
                .quotes__image
                  img(src="./img/quotes/1.svg", alt="")
            .quotes__slide 
              .quotes__slideContainer
                .quotes__slideText Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti.
                .quotes__image
                  img(src="./img/quotes/1.svg", alt="")
            .quotes__slide 
              .quotes__slideContainer
                .quotes__slideText Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti.
                .quotes__image
                  img(src="./img/quotes/1.svg", alt="")
      .line.wrapper__line
      section.customerHelp.wrapper__customerHelp
        .customerHelp__content 
          .customerHelp__title Customer help
          .customerHelp__subtitle Frequently asked questions
          .customerHelp__helpList 
            .customerHelp__helpListItem.helpListItem
              .helpListItem__title 
                svg.helpListItem__icon(width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M2 2L9 9L16 2" stroke="#8E96B7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round")
                .helpListItem__question Reque insolens in vel?
              .helpListItem__dropdownTecContainer
                .helpListItem__dropdownContent
                  .helpListItem__detail Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti.
                  a.helpListItem__button(href="#") Go to documentation
            .customerHelp__helpListItem.helpListItem
              .helpListItem__title 
                svg.helpListItem__icon(width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M2 2L9 9L16 2" stroke="#8E96B7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round")
                .helpListItem__question Vis rebum error graecis ea, id sit postea accusamus?
              .helpListItem__dropdownTecContainer
                .helpListItem__dropdownContent
                  .helpListItem__detail Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti.
                  a.helpListItem__button(href="#") Go to documentation
            .customerHelp__helpListItem.helpListItem
              .helpListItem__title 
                svg.helpListItem__icon(width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M2 2L9 9L16 2" stroke="#8E96B7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round")
                .helpListItem__question Lorem repudiandae ne nec?
              .helpListItem__dropdownTecContainer
                .helpListItem__dropdownContent
                  .helpListItem__detail Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti.
                  a.helpListItem__button(href="#") Go to documentation
            .customerHelp__helpListItem.helpListItem
              .helpListItem__title 
                svg.helpListItem__icon(width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M2 2L9 9L16 2" stroke="#8E96B7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round")
                .helpListItem__question Ad dicit numquam vel. Et eos iudico feugait percipitur?
              .helpListItem__dropdownTecContainer
                .helpListItem__dropdownContent
                  .helpListItem__detail Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti.
                  a.helpListItem__button(href="#") Go to documentation
            .customerHelp__helpListItem.helpListItem
              .helpListItem__title 
                svg.helpListItem__icon(width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M2 2L9 9L16 2" stroke="#8E96B7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round")
                .helpListItem__question Sea no dico percipitur. Fierent constituam definitiones id eum?
              .helpListItem__dropdownTecContainer
                .helpListItem__dropdownContent
                  .helpListItem__detail Quidam vocibus eum ne, erat consectetuer voluptatibus ut nam. Eu usu vidit tractatos, vero tractatos ius an, in mel diceret persecuti.
                  a.helpListItem__button(href="#") Go to documentation
      .line.wrapper__line
      block12 
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js") 
  script(src="./js/slick.min.js") 
  script(src="./js/index.js") 