html {
  font-family: 'Quicksand';
  background: #E4E6F0;
//  letter-spacing: 0.05em;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  &__header {
    padding: 19px 0;
    @media (max-width: 1200px) {
      padding: 19px 10px;
    }
  }
  &__customers {
    padding: 58px 19.16666666666667%;
    @media (max-width: 1060px) {
      padding: 58px 10px;
    }
  }
  &__productivity {
    height: 570px;
  }

  &__quotes {
    padding: 109px 0 109px 276px;
  }
}

@import './blocks/header/header.scss';
@import './blocks/line/line.scss';
@import './blocks/customers/customers.scss';
@import './blocks/slick-dots/slick-dots.scss';
@import './blocks/productivity/productivity.scss';
@import './blocks/planAndManage/planAndManage.scss';
@import './blocks/feature/feature.scss';
@import './blocks/aboutUs/aboutUs.scss';
@import './blocks/stats/stats.scss';
@import './blocks/blog/blog.scss';
@import './blocks/quotes/quotes.scss';