header.header
  img.header__logo(src="./img/logo.svg", alt="logo")
  ul.header__menu.menu
    li.menu__item--active.menu__item
      a(href="index.html") Home
    li.menu__item
      a(href="blog.html") Blog
    li.menu__item Features
    li.menu__item Pricing
    li.menu__item Documentation
  ul.header__social.social
    li.social__item
      a(href="")
        img(src="./img/social/f.svg", alt="") 
    li.social__item
       a(href="")
        img(src="./img/social/twitter.svg", alt="") 
    li.social__item
       a(href="")
        img(src="./img/social/Vector.svg", alt="") 
    li.social__item
       a(href="")
        img(src="./img/social/M.svg", alt="") 
  button.header__getStarted.getStarted Get Started